@(boards: List[Board], boardForm: Form[controllers.Application.BoardData])

@import helper._

@main("Boards") {

  <h1>  @boards.size board(s) </h1>

  <ul>
      @boards.map { board =>
      <li>
          @board.name

          @form(routes.Application.delete(board.id)) {
          <input type="submit" value="Delete">
          }	
      </li>
     }
  </ul>

  <h2>Add a new Board</h2>

      @form(routes.Application.newBoard) {

      @inputText(boardForm("name"))
      @inputText(boardForm("height"))
      @inputText(boardForm("width"))
      @inputText(boardForm("volume"))
      @inputText(boardForm("thickness"))
      @inputText(boardForm("image"))

      <input type="submit" value="Create">
     }

}
